.reviews-grid {
    max-width: 1080px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.review-head h2 {
    max-width: 1045px;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #8884d8;
    color: white;
    padding: 10px;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}

.review-head a {
    text-decoration: none;
}

.head-bottom {
    max-width: 1070px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.head-bottom img {
    width: 350px;
    margin-bottom: 40px;
}

.head-bottom h2 {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    text-align: left;
    padding-left: 10px;
    margin-bottom: 20px;

}

.head-bottom p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    padding: 0px 150px 0px 10px;

}

.main-btn {
    text-align: left;
    padding-left: 10px;
}

.main-btn .btn {
    background-color: #8884d8;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-btn .btn:hover {
    background-color: #1d2951;
    color: white;
}



.main-btn-2 {
    text-align: center;
    margin-bottom: 20px;
}

.main-btn-2 .btn {
    background-color: #8884d8;
    color: white;
    padding: 10px 20px 10px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-btn-2 .btn:hover {
    background-color: #1d2951;
    color: white;
}